* text=auto !eol
other/os-independent/class-dependecy-analyzer/pf-cda-1.10.zip -text
other/os-independent/findbugs-1.3.4.zip -text
other/os-independent/grails/grails-bin-1.0.2.zip -text
other/os-independent/grails/grails-bin-1.0.3.zip -text
other/os-independent/hudson/build-timeout.hpi -text
other/os-independent/hudson/checkstyle.hpi -text
other/os-independent/hudson/cobertura.hpi -text
other/os-independent/hudson/findbugs.hpi -text
other/os-independent/hudson/hudson.war -text
other/os-independent/hudson/hudsontracplugin.hpi -text
other/os-independent/hudson/jabber.hpi -text
other/os-independent/hudson/pmd.hpi -text
other/os-independent/hudson/scp.hpi -text
other/os-independent/hudson/svn-tag.hpi -text
other/os-independent/hudson/svncompat13.hpi -text
other/os-independent/hudson/violations.hpi -text
other/os-independent/hudson/vmware.hpi -text
other/os-independent/hudson/xvnc.hpi -text
other/os-independent/java_advanced_imaging_libraries/jai_imageio-1_1-lib-windows-i586-jre.exe -text
other/os-independent/java_advanced_imaging_libraries/jai_imageio-1_1-linux.zip -text
other/os-independent/java_advanced_imaging_libraries/jai_imageio-1_1-win.zip -text
other/windows/svn-win32-1.4.6.zip -text
techstack-2006/os-independent/apache-tomcat-5.5.17.zip -text
techstack-2006/os-independent/apache-tomcat-5.5.17.zip.MD5 -text
techstack-2006/os-independent/jakarta-tomcat-5.0.28.zip -text
techstack-2006/os-independent/jakarta-tomcat-5.0.28.zip.MD5 -text
techstack-2006/os-independent/jboss-4.0.4.GA.zip -text
techstack-2006/os-independent/jboss-4.0.4.GA.zip.MD5 -text
techstack-2006/os-independent/ws-core-enum-4.0.3.zip -text
techstack-2006/os-independent/ws-core-enum-4.0.3.zip.MD5 -text
techstack-2007/linux/jdk-1_5_0_10-linux-i586.bin -text
techstack-2007/os-independent/apache-ant-1.7.0-bin.zip -text
techstack-2007/os-independent/apache-maven-2.0.8-bin.zip -text
techstack-2007/os-independent/apache-tomcat-5.5.20.zip -text
techstack-2007/os-independent/apache-tomcat-5.5.20.zip.MD5 -text
techstack-2007/os-independent/jboss-4.0.5.GA.zip -text
techstack-2007/os-independent/jboss-4.0.5.GA.zip.MD5 -text
techstack-2007/os-independent/jems-installer-1.2.0.GA.jar -text
techstack-2007/os-independent/jems-installer-1.2.0.GA.jar.MD5 -text
techstack-2007/os-independent/jsch-0.1.34.jar -text
techstack-2007/windows/jdk-1_5_0_10-windows-i586-p.exe -text
techstack-2007/windows/mysql-5.0.27-win32.zip -text
techstack-2008/os-independent/apache-tomcat-5.5.20.zip -text
techstack-2008/os-independent/apache-tomcat-5.5.20.zip.MD5 -text
techstack-2008/windows/postgresql-8.3.3-1.zip -text
