* text=auto !eol
other/os-indepenent/hudson/build-timeout.hpi.bin -text
other/os-indepenent/hudson/cobertura.hpi.bin -text
other/os-indepenent/hudson/hudson.jar -text
other/os-indepenent/hudson/hudsontracplugin.zip -text
other/os-indepenent/hudson/jabber.hpi.bin -text
other/os-indepenent/hudson/pmd.hpi.bin -text
other/os-indepenent/hudson/scp.hpi.bin -text
other/os-indepenent/hudson/svn-tag.hpi.bin -text
other/os-indepenent/hudson/svncompat13.hpi -text
other/os-indepenent/hudson/vmware.hpi -text
other/os-indepenent/hudson/xvnc.hpi.bin -text
other/windows/svn-win32-1.4.6.zip -text
techstack-2006/os-indepenent/jakarta-tomcat-5.0.28.zip -text
techstack-2006/os-indepenent/jakarta-tomcat-5.0.28.zip.MD5 -text
techstack-2006/os-indepenent/jboss-4.0.4.GA.zip -text
techstack-2006/os-indepenent/jboss-4.0.4.GA.zip.MD5 -text
techstack-2006/os-indepenent/ws-core-enum-4.0.3.zip -text
techstack-2006/os-indepenent/ws-core-enum-4.0.3.zip.MD5 -text
techstack-2007/os-indepenent/apache-ant-1.7.0-bin.zip -text
techstack-2007/os-indepenent/apache-tomcat-5.5.20.zip -text
techstack-2007/os-indepenent/apache-tomcat-5.5.20.zip.MD5 -text
techstack-2007/os-indepenent/jsch-0.1.34.jar -text
